header {
	width: 100%;
	z-index: 2;
	position: fixed;

	& > div:first-of-type {
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: 24.5px;
		padding-bottom: 24.5px;
		background-color: var(--m-black);
		position: relative;

		& > div:first-of-type {
			img {
				height: 42px;
			}
		}

		& > button {
			color: var(--m-green);
		}

		& > div:last-of-type {
			display: none;

			ul {
				display: flex;
				gap: 21px;

				li.--default {
					&:hover a {
						&:after {
							width: 100%;
						}

						color: var(--m-green);
					}

					a {
						&:after {
							content: '';
							width: 0%;
							height: 2px;
							background-color: var(--m-green);
							transition: ease-in-out 0.35s;
							position: absolute;
							left: 0px;
							bottom: 2.4px;
						}

						color: var(--m-white);
						padding: 3.5px;
						font-size: 12.6px;
						transition: ease-in-out 0.35s;
						position: relative;
					}
				}
			}

			li.--special {
				margin: 0px 7px;

				a {
					&:hover {
						background-color: var(--m-green);
						color: var(--m-white);
					}

					transition: ease-in-out 0.35s;
					color: var(--m-green);
					background-color: transparent;
					border: 2.1px solid var(--m-green);
					padding: 10.5px 14px;
					font-size: 12.6px;
					border-radius: 7px;
					transition: ease-in-out 0.35s;
					position: relative;
				}
			}
		}
	}

	& > div:last-of-type {
		&.--on {
			transform: translateY(100%);
		}

		z-index: 1;
		width: 100%;
		padding-bottom: 24.5px;
		background-color: var(--m-black);
		transform: translateY(0%);
		transition: ease-in-out 0.35s;
		position: absolute;
		bottom: 0px;
		left: 0px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 17.5px;

			li {
				&.--special {
					&::before {
						font-family: 'Font Awesome 5 Free';
						font-weight: 900; /* Depending on the icon style you want */
						content: '\e476'; /* Unicode for the desired icon (e.g., star) */
						color: var(--m-white);
						margin-right: 3.5px;
					}
				}

				font-weight: bold;

				a {
					color: var(--m-white);
				}
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		& > div:first-of-type {
			& > div:first-of-type {
				img {
					height: 47.6px;
				}
			}
		}
	}
}

@media (min-width: 1300px) {
	header {
		& > div:first-of-type {
			& > div:first-of-type {
				img {
					height: 28px;
				}
			}

			& > button {
				display: none;
			}

			& > div:last-of-type {
				display: block;
			}
		}

		& > div:last-of-type {
			display: none;
		}
	}
}
