@font-face {
	font-family: poppins-regular;
	src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

:root {

	/*colors*/
	--m-white: white;
	--m-black: black;
	--m-green: rgb(78,178,84);
	--m-gray: rgb(130, 130, 130);
}

::-webkit-scrollbar {
	border-radius: 100px;
}


::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 3px solid var(--m-white);
	background-color: var(--m-gray);
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: poppins-regular;
}

body {
	min-width: 300px;
	height: 1000vh;
}

ul, ol {
	list-style: none;
}

h1, h2, h3, h4, h5 {
	line-height: 110%;
}

h1, h2, h3, h4, h5, p {
	cursor: default;
}

img {  
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.global-horizontal-padding {
	padding-right: 30px;
	padding-left: 30px;
}

h2.global-font-size-controller {
	font-size: 32px;
}

h3.global-font-size-controller {
	font-size: 24px;
}

/*media*/
@media (min-width: 375px) and (min-height: 785px) {
	h1.global-font-size-controller {
		font-size: 50px !important;
	}
}

@media (min-width: 414px) {
	h1.global-font-size-controller {
		font-size: 50px !important;
	}
}

@media (min-width: 600px) {
	.global-horizontal-padding {
		padding-right: 40px;
		padding-left: 40px;
	}

	h1.global-font-size-controller {
		font-size: 58px !important;
	}

	h2.global-font-size-controller {
		font-size: 35px;
	}

	h3.global-font-size-controller {
		font-size: 25px;
	}
}

@media (min-width: 767px) {
	h1.global-font-size-controller {
		font-size: 62px !important;
	}

	h2.global-font-size-controller {
		font-size: 38px;
	}

	p.global-font-size-controller {
			font-size: 20px !important;
	}
}

@media (min-width: 768px) and (min-height: 1000px) {
	h1.global-font-size-controller {
		font-size: 75px !important;
	}
}

@media (min-width: 1250px) {
	.global-horizontal-padding {
		padding-right: 65px;
		padding-left: 65px;
	}

	h1.global-font-size-controller {
		font-size: 65px !important;
	}

	h2.global-font-size-controller {
		font-size: 40px;
	}
}
